body{
    background-color: #3A3845;
}

footer{
    background-color: #F7CCAC;
    color: #3A3845;
}

/* =================================================================*/

/*SEARCH-BAR*/

input.form-control.mr-sm-2{
    border-radius: 2rem !important;
    background-color: #3A3845;
    color: #F7CCAC;
}
.form-control{
    border:1px solid #3A3845;
}
.form-control::placeholder{
    color: #F7CCAC;
}
/* =================================================================*/
/*NAV LINK */
.nav-link{
    color:#789395;
}
.navContent{
    background-color: #F7CCAC;
}

/* =================================================================*/
/*BTN TOP*/
.pushbtn{
    width:70px;
    height:70px;
}
.goTop{
    position:fixed;
    margin-right: 100px;
}
/* =================================================================*/


/*PROFILE IMG & USERNAME*/
.img-size{
    height: 70px;
    width: 70px;
}
img.rounded-circle.img-size{
    border:1px solid !important;
    color: #94B49F;
}
.username{
    color: #789395;
}

/* =================================================================*/

/*CAROUSEL BTN*/
.carousel-indicators [data-bs-target]{
    width: 20px;
    height: 20px;
    border-radius:50%;
    background-color: #789395;
}
/*CAROUSEL INNER*/
.carousel-inner{
    border-radius:120px;
}
/* =================================================================*/

/*BLOCK TRACK*/
.block{
    background-color: #94B49F;
    border-radius:20% !important;
    padding: 50px;
}

.pulse{
    width: 80px;
    height: 80px;
}
.title{
    color: #F7CCAC;
}
.blockquote-footer{
    color: #F7CCAC !important;
}
.blockquote-footer::before {
    content:"" !important;
}
/* =================================================================*/