body{
    background-color: #3A3845;
}

footer{
    background-color: #F7CCAC;
    color: #3A3845;
}
/* ================================BODY LIGHT MODE COLOR CONTENT=================================*/
body.light .btn-link:hover{
    color: #94B49F;
}
body.light .btn-link{
    color: #3A3845;
    background-color: #F7CCAC !important;
}
body.light .btn-outline-secondary{
    background-color: #94B49F;
    border-color: #94B49F;
}
body.light .btn-outline-dark{
    background-color: #94B49F;
    border-color: #94B49F;
}
body.light .dash-block{
    background-color: #94B49F !important;
    transition: all 0.7s ease-in-out;
}
body.light .statsBlock{
    background-color: #94B49F !important;
    transition: all 0.7s ease-in-out;
}
body.light .block1{
    background-color: #94B49F !important;
    transition: all 0.7s ease-in-out;
}
body.light{
    background-color: #FFF6EA !important;
    transition: all 0.7s ease-in-out;
}
body.light .blockquote-footer{
    color :#3A3845 !important;
    transition: all 0.7s ease-in-out;
}
body.light .title{
    color: #3A3845 !important;
    transition: all 0.7s ease-in-out;
}
body.light .offcanvas{
    background-color: #94B49F;
}
body.light .bg-edit{
    background-color: #94B49F;
}
body.light .title_rqst{
    color: #3A3845;
}
body.light .pr_usr_request{
    color: #3A3845;
}
body.light .border-bottom {
    border-bottom: 1px solid #3A3845 !important;
}
/* =================================================================*/

/*SEARCH-BAR*/

input.form-control.mr-sm-2{
    border-radius: 2rem !important;
    background-color: #3A3845;
    color: #F7CCAC;
}
.form-control{
    border:1px solid #3A3845;
}
.form-control::placeholder{
    color: #F7CCAC;
}
.edit-form::placeholder{
    color:#3A3845;
}
.edit-form{
    border:1px solid #F7CCAC !important;
}
/* =================================================================*/
/*NAV LINK */
.nav-link{
    color:#789395;
}
.navContent{
    background-color: #F7CCAC;
}

/* =================================================================*/
/*BTN TOP*/
.pushbtn{
    width:70px;
    height:70px;
}
.goTop{
    position:fixed;
    margin-right: 100px;
}
/* =================================================================*/


/*PROFILE IMG & USERNAME*/
.img-size{
    height: 70px;
    width: 70px;
}
img.rounded-circle.img-size{
    border:1px solid !important;
    color: #94B49F;
}
.username{
    color: #789395;
}

/* =================================================================*/

/*CAROUSEL BTN*/
.carousel-indicators [data-bs-target]{
    width: 20px;
    height: 20px;
    border-radius:50%;
    background-color: #789395;
}
/*CAROUSEL INNER*/
.carousel-inner{
    border-radius:120px;
}
/* =================================================================*/

/*BLOCK TRACK*/
.block{
    background-color: #94B49F;
    border-radius:20% !important;
    padding: 50px;
}

.pulse{
    width: 80px;
    height: 80px;
}
.title{
    color: #F7CCAC;
}
.blockquote-footer{
    color: #F7CCAC;
}
.blockquote-footer::before {
    content:"" !important;
}
/* =================================================================*/