/* Cover */
.masthead{
  position: relative;
  background-size: cover;
  min-height:67.5vh;
  color: #789395;
}

/*Title & Description size*/
h1{
  font-size:3rem;
}
/*Position center*/
.color-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
}
/* media size
@media (min-width: 768px){
  .masthead{
    min-height: 40vh;
  }
  h1{
    font-size:calc(1.525 + 3.3vw);
  }
}
*/
/* Button*/
.btn-outline-secondary{
  background-color: #789395;
  border-color: #789395;
}
.btn{
  color: #3A3845
}