.header {
    position: relative;
    background-color: #3A3845;
    color: #789395;
    top: 0px;
    font-size: 17px;
}

a {
    text-decoration: none;
    color: #789395;
}

a:hover {
    color: #5f7d80;
}

<<<<<<< Updated upstream=======
/*=============================DROPDOWN===================================*/


/*UL BACKGROUND*/

.dropdown-menu {
    color: #3A3845;
    background-color: #F7CCAC !important;
}


/*LI FOCUS*/

.dropdown-item:focus,
.dropdown-item:hover {
    color: #F7CCAC;
    background-color: #3A3845 !important;
}


/*================================================================*/

>>>>>>>Stashed changes
/*================================================================*/


/* Toggle switch TEST*/


/*
.switch{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 50px;
    margin: 0 10px;
}
.slider{
position: absolute;
cursor: pointer;
top: 0;
height: 35px;
left: 0;
right: 0;
bottom: 0;
transition: .3s;
background-color: #FFF6EA !important;
border-radius: 30px;
}
.switch input {display:none}

.slider:before {
    position: absolute;
    content: "";
    height:35px;
    width: 35px;
    background-color: #F7CCAC;
    transition: .3s;
    border-radius: 35px;
}

input:checked + .slider{
    background-color: #3A3845;
}
input:checked + .slider:before{
    transform: translateX(35px);
}
.switchMode{
    margin-right: 20px;
}

/*----------------------------------------------------------------*/

input.form-control {
    border-color: #3A3845;
    outline-color: #3A3845 !important;
    color: #F7CCAC;
}

.form-control:focus {
    border-color: #3A3845;
}


/*SEARCH-BTN*/

.search {
    height: 30px;
    width: 30px;
}

.form-switch .form-check-input {
    background-image: url(../ressources/IMAGES-HEADER/nightMode.png) !important;
    background-color: #FFF6EA !important;
}

.form-switch .form-check-input:checked {
    background-image: url(../ressources/IMAGES-HEADER/lightmode.png) !important;
    background-color: #3A3845 !important;
    border-color: #3A3845 !important;
}